/*@tailwind base; <- tailwind preflight. See https://tailwindcss.com/docs/preflight */
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-button {
        @apply
            text-primary hover:text-white
            select-none lowercase
            transition duration-300
            flex items-center justify-center
            text-sm sm:text-2xl
            font-semibold sm:font-normal italic
    }

    .slider-navigator {
        @apply
            disabled:opacity-0 disabled:cursor-default
            border-0 border-none
            backdrop-opacity-0 backdrop-blur-md bg-white/0 text-primary
            transition ease-in-out duration-300
    }
}

/* modify backdrop so it blurs instead of just making the page darker */
.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
}